@import "../../assets/colors/colors.scss";

.navBarContainer{
    background-color: $color-white;
    padding: 0 17px;
    height: 49px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    img{
        height: 32px;
        width: auto;
        display: flex;
        align-items: center;
    }
    .menuContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li:not(:last-child){
            margin-right: 16px;
        }

        a{
            color: $color-black;
            font-weight:bold;
        }
        
        .subscribe{
            background-color: $color-black;
            height: 47px;
            padding: 0 15px;
            display: flex;
            align-items: center;
            a{

                color: $color-white;
            }
        }

        .chevron{
            height: 10px;
            width: auto;
        }

        .hideMobile{
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navBarContainer{
        .menuContainer{
            .hideMobile{
                display: flex;
            }
        }

    }

}